/qms/node_modules
/qms/public/hot
/qms/public/storage
/qms/storage/*.key
/qms/vendor
/qms/.idea
/qms/.vagrant
/qms/Homestead.json
/qms/Homestead.yaml
/qms/npm-debug.log
/qms/.env
/qms/.phpintel
/.phpintel

vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
